[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
[submodule "tree-blockchain-gui"]
	path = tree-blockchain-gui
	url = https://github.com/tree111-network/tree-blockchain-gui.git
	branch = releases_1_0_0
